.diff-table {
  width: 100%;
  border: 1px solid $primary-border;
  margin-bottom: 2em;
  th {
    padding: 1em;
    font-weight: normal;
    text-align: left;
    background-color: $primary-background;
  }
}

.diff-line {
  @extend .code-font;
  font-size: .875em;
  padding-left: 1em;
  &.added {
    background-color: $diff-green;
  }
  &.removed {
    background-color: $diff-red;
  }
}
