$diff-green: #DDFFDD;
$diff-red:   #FFDDDD;
$primary-background: #eee;
$primary-border: #ccc;
$secondary-border: #eee;
$secondary-background: #ddd;
$tertiary-background: #333;
$text-background: white;
$interesting-text-color: #666;
$supporting-text-color: #aaa;
